[Unit]
Description=Check Secure Boot MOK Enrollment
ConditionPathExists=/etc/pki/sb-certs/bootc-os-sb.cer
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/enroll-mok.sh
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
