[Unit]
Description=Update user Flatpak applications
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/flatpak update --user -y --noninteractive

[Install]
WantedBy=default.target
