[Unit]
Description=Ensure user Flatpaks are installed
After=graphical-session.target flathub-setup.service
Wants=flathub-setup.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/flatpak-package-installer.sh

[Install]
WantedBy=default.target
